@media screen and (max-width: 1205px){
    section#contact {
        margin: 0 auto;
        padding: 2% 10%;
    }
}

@media screen and (max-width: 1044px){
    .header .main-menu .navbar,
    .header .main-menu .navbar .navbar-brand {
        margin: 0;
        padding: 2% 10%;
    }

    section {
        min-height: 80vh;
        margin: 0 auto;
        padding: 2% 5%;
    }

    .site-title h3.title {
        font-size: 3rem !important;
    }

    .site-title h1.title {
        font-size: 5rem !important;
    }

    .site-title h4.title {
        font-size: 1.7rem !important;
    }

    .about-title h2,
    #portfolio h2,
    #contact h2 {
        font-size: 3rem;
    }

    section.section#about img {
        margin-bottom: 2rem;
    }

    section.section#about .paragraph {
        margin: 0 auto;
    }

    .technical-skills {
        width: 50%;
        padding: 0;
    }

    .theme-btn {
        top: 15%; right: 3%;
    }
}

@media screen and (max-width: 990px){
    .contact-right .contact-item,
    .contact-right .contact-item p {
        width: 65%;
    }
}

@media screen and (max-width: 768px){
    .header .main-menu .navbar,
    .header .main-menu .navbar .navbar-brand {
        margin: 0;
        padding: 2% 10%;
    }

    section,
    section.section#about {
        margin: 0;
        padding: 2% 5%;
    }

    .site-title h3.title {
        font-size: 3rem !important;
    }

    .site-title h1.title {
        font-size: 5rem !important;
    }

    .site-title h4.title {
        font-size: 1.7rem !important;
    }

    .about-title h2,
    #portfolio h2,
    #contact h2 {
        font-size: 3rem;
    }

    .technical-skills {
        width: 50%;
        padding: 0;
    }

    footer {
        margin-bottom: 7rem;
    }

    .theme-btn {
        width: 50px;
        height: 50px;
    }

    .social-media {
        top: auto; bottom: 0;
        left: 50%;
        flex-direction: row;
        justify-content: center;
        transform: translateX(-50%);
        width: 100%;
        padding: 1rem 0;
        background: var(--grey-5);
    }

    .social-media a {
        margin: 0 .7rem;
    }
}

@media screen and (max-width: 547px){
    section.contact {
        padding: 2% !important;
    }
}

@media screen and (max-width: 451px) {
    .header .main-menu .navbar,
    .header .main-menu .navbar .navbar-brand,
    section.section,
    section.section#about {
        margin: 0;
        padding: 2%;
    }

    body, p {
        font-size: .9rem;
    }

    .site-title h3.title {
        font-size: 2rem !important;
    }

    .site-title h1.title {
        font-size: 3rem !important;
    }

    .site-title h4.title {
        font-size: 1rem !important;
    }

    .about-title h2,
    #portfolio h2,
    #contact h2 {
        font-size: 2rem !important;
    }

    .paragraph {
        padding: 0 !important;
        width: 100% !important;
    }

    .technical-skills {
        width: 50%;
        padding: 0;
    }

    .contact-right .contact-icon,
    .contact-right .contact-item,
    .contact-right .contact-item p {
        width: 100% !important;
        font: normal 500 .9rem/2.5rem var(--font);
    }
}