/* CSS VARIABLES */
@import url(../partials/_variables.css);

/* GLOBAL STYLING */
@import url(../partials/_global.css);

/* NAVIGATION */

.header .main-menu .navbar .navbar-brand {
    padding-top: 1rem;
}

.header .main-menu .navbar .navbar-brand img {
    width: 275px;
}

.header .main-menu .navbar {
    padding: 1rem 10rem;
}

.header .main-menu .nav-item .nav-link {
    font: normal 500 15px/2px var(--font);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--grey-1);
}

.header .main-menu .navbar-nav .active a  {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    transition: all .4s ease-in-out;
}

.header .main-menu .navbar-nav a:hover {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.scroll-down {
    transform: translateY(-100%);
    transition: all .3s ease-in-out;
}

.scroll-up {
    transform: translateY(0);
    transition: all .3s ease-in-out;
}

/* INTRODUCTION SECTION */

.site-main #home .site-title h3 {
    padding-top: 25%;
}

.site-main #home .site-title h3::after {
    content: "";
    height: 2px;
    width: 18vw;
    background: var(--grey-4);
    display: inline-block;
    margin-left: 2%;
    transform: translateY(-10px);
}

.site-main #home .site-title h1 {
    font-size: 5rem;
}

.site-main #home .site-title h4 {
    font-size: 1.5rem;
}

.cv-btn {
    position: relative;
    display: flex;
    align-self: flex-start;
    align-items: center;
    overflow: hidden;

    color: var(--white);
    line-height: 1rem;
    border: 1px solid var(--secondary);
    border-radius: 30px;
}

.cv-btn .btn-text {
    padding: 0 1.7rem;
}

.cv-btn i {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--secondary);
    color: var(--grey-3);
    border-radius: 50%;
}

.cv-btn::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all .4s ease-out;
    z-index: -1;
}

.cv-btn:hover {
    transition: all .4s ease-out;
    color: var(--grey-3);
}

.cv-btn:hover::before {
    width: 100%;
    height: 100%;
    background-color: var(--secondary);
    transform: translateX(0);
    transition: all .4s ease-out;
}

/* ABOUT ME SECTION */

.about-image img {
    width: 60%;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    border-radius: 5px;
    opacity: .6;
    transition: all .4s ease-in-out;
}

.about-image img:hover {
    -webkit-filter: grayscale(0);
    filter: none;
    opacity: 1;
}

#about {
    padding: 0 10rem;
}

#about .about-title h2 > span {
    display: block;
}

#about .about-title .paragraph > p {
    padding: .4rem 0;
}

.row.skills {
    width: 80%;
    margin: 0 auto;
}

.technical-skills {
    display: grid;
    grid-template-columns: 20px 1fr;
}

.technical-skills i {
    display: flex;
    align-items: center;
    color: var(--secondary);
}

/* PORTFOLIO SECTION */

.row.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.portfolio-entry {
    margin: 1rem 0;
    padding: 0 .3rem;
    text-align: center;
    cursor: pointer;
}

.portfolio-entry > img {
    width: 100%;
    border-radius: 3px;
    opacity: .85;
}

.portfolio-entry .hover-links {
    width: 97.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: .3rem; top: 0;
    
    background-color: var(--secondary);
    border-radius: 3px;
    opacity: 0;
    transform: scale(0);
    transition: all .4s ease-in-out;
}

.portfolio-entry .hover-links h3 {
    margin-bottom: 1.5rem;
    color: var(--grey-6);
    font: normal 500 1.5rem var(--font);
}

.portfolio-entry .hover-links .icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-entry .hover-links .icons i {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    width: 50px;
    height: 50px;

    background-color: var(--primary);
    color: var(--white);
    font-size: 1.5rem;
    border-radius: 50%;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.portfolio-entry .hover-links .icons i:hover {
    background-color: var(--white);
    color: var(--primary);
}

.portfolio-entry:hover .hover-links {
    opacity: .9;
    transform: scale(1);
}

/* CONTACT SECTION */

#contact {
    display: flex;
    padding-top: 15%;
}

.contact-left h3 {
    margin-top: 1rem;
    font-size: 2rem;
    letter-spacing: .5rem;
}

.contact-right {
    padding: 9% 5% 0 5%;
}

.contact-right .contact-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    font: normal 500 1rem/2.5rem var(--font);
}

.contact-right p {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    font: normal 500 1rem/2.5rem var(--font);
}

.contact-icon {
    display: grid;
    grid-template-columns: 30px 1fr;
    font: normal 500 1rem/2.5rem var(--font);
}

.contact-icon i {
    display: flex;
    align-items: center;
    color: var(--secondary);
    font-size: 1.3rem;
}

/* FOOTER */

footer {
    margin: 2rem 0;
    color: var(--grey-2);
}