/* CSS VARIABLES */
@import url(./partials/variables.css);

/* GLOBAL STYLING */
@import url(./partials/global.css);

/* NAVIGATION */

.header .main-menu .navbar .navbar-brand {
    padding: 0 2rem 0 5rem;
}

.header .main-menu .navbar {
    padding: 1rem 10rem;
}

.header .main-menu .nav-item .nav-link {
    font: normal 500 15px/2px var(--text);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title);
}

.header .main-menu .navbar-nav .active a {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header .main-menu .navbar-nav a:hover {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* SIDE MENU */

.side-menu {
    position: fixed;
    z-index: 10;
    top: 50%; right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
}

.side-menu .icon-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    margin: .7rem 0;
    padding: 1rem;
    box-shadow: var(--box-shadow);
    background-color: var(--grey-4);
    border-radius: 50%;
    cursor: pointer;
}

.side-menu .icon-menu i {
    color: var(--grey-2);
    font-size: 1.2rem;
    pointer-events: none;
}

.side-menu .icon-menu.active-btn {
    background-color: var(--secondary) !important;
    transition: all .4s ease-in-out;
}

.side-menu .icon-menu.active-btn i {
    color: var(--grey-4);
}

/* INTRODUCTION SECTION */

.site-main #home .site-title h3 {
    padding-top: 15%;
}

.site-main #home .site-title h3::after {
    content: "";
    height: 2px;
    width: 18vw;
    background: #444;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main #home .site-title h1 {
    font-size: 5rem;
}

.site-main #home .site-title h4 {
    font-size: 1.5rem;
}

.cv-btn {
    position: relative;
    display: flex;
    align-self: flex-start;
    align-items: center;
    overflow: hidden;

    color: var(--white);
    line-height: 1rem;
    border: 1px solid var(--secondary);
    border-radius: 30px;
}

.cv-btn .btn-text {
    padding: 0 1.7rem;
}

.cv-btn i {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--secondary);
    color: var(--grey-3);
    border-radius: 50%;
}

.cv-btn::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all .4s ease-out;
    z-index: -1;
}

.cv-btn:hover {
    transition: all .4s ease-out;
    color: var(--grey-3);
}

.cv-btn:hover::before {
    width: 100%;
    height: 100%;
    background-color: var(--secondary);
    transform: translateX(0);
    transition: all .4s ease-out;
}

/* ABOUT ME SECTION */

.about-image img {
    width: 60%;
}

#about {
    padding: 0 10rem;
}

#about .about-title h2 > span {
    display: block;
}

#about .about-title .paragraph > p {
    padding: .4rem 0;
}

.technical-skills {
    display: grid;
    grid-template-columns: 20px 1fr;
    font: normal 500 16px/25px var(--font);
}

.technical-skills i {
    display: flex;
    align-items: center;
    color: var(--secondary);
}

/* PORTFOLIO SECTION */

.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-entry {
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 1.5rem 0;
    width: 100%;
    cursor: pointer;
    transition: transform .4s ease;
}

.portfolio-entry > img {
    width: 95%;
    border-radius: 3px;
}

.portfolio-entry .hover-links {
    width: 95.3%;
    height: 86%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 9px; top: 24px;

    background-color: var(--secondary);
    border-radius: 3px;
    opacity: 0;
    transform: scale(0);
    transition: all .4s ease-in-out;
}

.portfolio-entry .hover-links h3 {
    margin-bottom: 1.5rem;
    color: var(--grey-4);
    font: normal 500 3rem var(--font);
    font-size: 1.5rem;
}

.portfolio-entry .hover-links .icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-entry .hover-links .icons i {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    width: 50px;
    height: 50px;

    background-color: var(--primary);
    color: var(--white);
    font-size: 1.5rem;
    border-radius: 50%;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.portfolio-entry .hover-links .icons i:hover {
    background-color: var(--white);
    color: var(--primary);
}

.portfolio-entry:hover .hover-links {
    opacity: .9;
    transform: scale(1);
}

/* CONTACT SECTION */

.contact {
    display: flex;
    padding-top: 3.5rem;
}

.contact-left {
    flex: 2;
}

.contact-left h3 {
    margin-top: 1rem;
    font-size: 2rem;
    letter-spacing: .5rem;
}

.contact-left .contact-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font: normal 500 16px/25px var(--font);
}

.contact-left .contact-item p {
    margin: .3rem 0 !important;
    padding: 0 !important;
}

.contact-icon {
    display: grid;
    grid-template-columns: 30px 1fr;
    font: normal 500 16px/25px var(--font);
}

.contact-icon i {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.contact-left .social-media {
    display: flex;
    margin-top: 2rem;
}

.social-media a, .social-media a:active, .social-media a:visited {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 0 .4rem;
    background-color: var(--grey-6);
    color: var(--white);
    border-radius: 50%;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.social-media a:hover {
    background-color: var(--secondary);
}

.social-media a i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
}

.social-media i:hover {
    color: var(--primary);
}

.contact-right {
    flex: 3;
    margin: 3rem;
}

.contact-right .contact-form {
    margin: 1.5rem 0;
}

/* FOOTER */

footer {
    margin: 2rem 0;
    font: normal 500 16px/25px var(--font);
    color: var(--grey-2);
}