h2 {
    font: normal 400 3rem/60px var(--font);
    letter-spacing: .5rem;
}

/* GLOBAL CLASSES */

.title {
    font: normal 500 3rem/72px var(--font);
}

.text-uppercase {
    text-transform: uppercase;
}

.highlight {
    color: var(--secondary);
}

/* LINKS */

a, a:active, a:visited {
    display: inline-block;
    color: var(--secondary);
    font-family: var(--font);
    text-decoration: none;
    transition: all .4s ease-in-out;
}

a:hover {
    color: var(--grey-3);
    text-decoration: none;
}

/* BUTTONS */

.button {
    width: 90%;
    padding: .8rem 2.2rem;
    font: normal 500 16px/20px var(--font);
    position: relative;
    border: 0;
    border-radius: 4px;
}

.button.primary-button {
    background: rgba(121, 252, 202, .6);
    color: var(--grey-1);
    text-transform: uppercase;
    border: 1px solid var(--grey-4);
    transition: background .4s ease;
}

.button.primary-button:hover {
    background: var(--secondary);
    color: var(--grey-6);
    cursor: pointer;
}

.button.secondary-button {
    background: var(--primary);
    color: var(--secondary);
    text-transform: uppercase;
    border: 1px solid var(--secondary);
    transition: background .4s ease;
}

.button.secondary-button:hover {
    background: var(--button-hover);
    color: var(--grey-6);
    cursor: pointer;
}

/* INPUT */

input, textarea {
    display: block;
    width: 90%;
    margin: .5rem 0;
    padding: .5rem;
    background-color: var(--grey-5);
    color: var(--grey-1);
    font: normal 500 1rem/2rem var(--font);
    border: 1px solid var(--grey-4);
    border-radius: 3px;
}

/* SECTIONS */

section {
    min-height: 85vh;
    padding: 3rem 18rem;
}

section.home {
    margin-bottom: 10%;
}

/* .section {
    display: none;
    background-color: var(--primary);
    transform: translateY(-100%) scale(0);
    transition: all .4s ease-in-out;
}

.active {
    display: block;
    animation: display 1s ease-in-out;
    transform: translateY(0) scaleY(1);
}

@keyframes display {
    0% {
        transform: translateY(-100%) scaleY(0);
    }
    100% {
        transform: translateY(0) scaleY(1);
    }
} */

/* FIXED NAVBAR */

.navbar-fixed {
    position: fixed;
    width: 100%;
    top: -1px;
    left: 0; right: 0;
    background: var(--primary);
    box-shadow: var(--box-shadow);
    z-index: 999;
    transition: background 1s ease;
}

.navbar-light .navbar-toggler {
    background-color: var(--button-hover);
    border-color: var(--secondary);
}

/* LIGHT/DARK MODE */

.theme-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20%; right: 3%;
    width: 70px;
    height: 70px;
    background-color: var(--grey-4);
    border-radius: 50%;
    transition: all .1s ease-in-out;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

.theme-btn:active {
    transform: translateY(-3px);
}

.theme-btn i {
    font-size: 1.4rem;
    color: var(--grey-2);
    pointer-events: none;
}

/* SIDE SOCIAL MEDIA LINKS */

.social-media {
    position: fixed;
    z-index: 10;
    top: 50%; right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
}

.social-media a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    margin: .7rem 0;
    padding: 1rem;
    box-shadow: var(--box-shadow);
    background-color: var(--grey-4);
    border-radius: 50%;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.social-media i {
    color: var(--grey-1);
    font-size: 1.5rem;
    pointer-events: none;
}

.social-media a:hover {
    background-color: var(--secondary) !important;
}

.social-media a:hover i {
    color: var(--grey-4) !important;
}