@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Source+Code+Pro:wght@200;300;400;500;600;700&family=Rozha+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

@layer base {
  body {
    @apply bg-[#f6f6f6] font-['Outfit'] text-xs sm:text-base text-[#3e3e3e] font-light leading-loose;
  }

  p {
    @apply leading-loose;
  }

  a {
    @apply transition-all ease-in duration-300;
  }

  h1 {
    @apply font-['Rozha_One'];
  }

  h2 {
    @apply font-['Rozha_One'] pb-8 font-semibold text-3xl sm:text-4xl text-blue-900 dark:text-rose-200 text-center tracking-tighter;
  }

  button {
    @apply font-normal transition-all ease-in duration-300;
  }

  button[type=submit] {
    @apply font-['Source_Code_Pro'] text-sm tracking-tight mx-auto flex items-center my-2 pl-6 py-3 border border-gray-300 rounded hover:border-emerald-400 dark:hover:border-teal-200;
  }

  .gradient {
    @apply bg-gradient-to-r from-blue-900 to-emerald-300 dark:from-rose-200 dark:to-teal-200 inline-block text-transparent bg-clip-text;
  }
}

@layer components {
  /* NAVBAR COMPONENT */
  .navbar li {
    @apply font-['Source_Code_Pro'] text-sm font-medium hover:text-emerald-400 dark:hover:text-teal-200 cursor-pointer;
  }

  .navbar a.mobile-links {
    @apply font-['Source_Code_Pro'] w-1/2 m-2 p-3 flex justify-center items-center hover:text-emerald-300 dark:hover:text-teal-200 cursor-pointer;
  }

  /* HOME COMPONENT */
  #main .intro {
    @apply font-semibold text-4xl sm:text-6xl font-['Rozha+One'];
  }

  #main a.home {
    @apply text-emerald-400 dark:text-teal-200 hover:text-gray-300 dark:hover:text-gray-400 transition-all ease-in duration-300 cursor-pointer;
  }

  /* EXPERIENCE COMPONENT */
  #experience ul li {
    @apply ml-4 flex;
  }

  #experience ul.work {
    @apply text-emerald-300 dark:text-teal-200 hover:text-gray-300 dark:hover:text-gray-400 cursor-pointer;
  }

  /* PROJECTS COMPONENT */
  #projects .project-links {
    @apply mx-2 w-[50px] h-[50px] inline-flex justify-center items-center rounded-full hover:bg-blue-900 dark:hover:bg-rose-200 bg-gray-100 dark:bg-neutral-700 hover:text-white dark:hover:text-gray-700 text-emerald-400 dark:text-teal-200 transition-all ease-in duration-300;
  }

  /* CONTACT COMPONENT */
  #contact input, #contact textarea {
    @apply w-full my-2 p-2 rounded bg-gray-50 dark:bg-neutral-900 border border-gray-300 dark:border-gray-600 focus:outline focus:outline-2 focus:outline-gray-500;
  }

  /* RESUME COMPONENT */
  #resume article p {
    @apply flex;
  }

  /* FOOTER COMPONENT */
  footer .social li {
    @apply px-3 py-3 flex justify-between items-center ml-[5px] hover:ml-[10px] hover:text-emerald-400 dark:hover:text-teal-200 cursor-pointer transition-all ease-in;
  }

  footer .mini-social li {
    @apply p-3 inline-flex hover:text-emerald-400 dark:hover:text-teal-200;
  }
}

@layer utilities {
  .light {
    @apply bg-[#f6f6f6] text-[#3e3e3e] transition-all ease-in duration-300;
  }

  .dark {
    @apply bg-neutral-800 text-slate-200 transition-all ease-in duration-300;
  }
}